:root {
    --deep-skyblue: #92C2FF;
    --skyblue: #BDE0FE;
    --deep-pink: #FFAFCC;
    --pink: #FFC8DD;
    --purple: #CDB4DB;
    --font-color: #616161;
}

.title {
    font-family: "NanumSquareNeo-Variable", serif !important;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
}

.sub-title{
    font-family: "LINESeedKR-Bd", serif !important;
    font-weight: 700;
    font-style: normal;
}

.content {
    font-family: "Pretendard-Regular", serif !important;
    font-weight: 500;
    font-style: normal;
}

.sub-content{
    font-family: "Pretendard-Regular", serif !important;
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: "Pretendard-Regular", serif !important;
    font-weight: 500;
    color: #555555;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

