* {
    font-family: ".SF NS";
    /*font-family: "Arial Black", sans-serif;*/
}

/*header시작*/
.headerBackground {
    background-color: #2c2c2c;
    height: 44px;
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.navBtnBox{
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
    margin-right: 40px;
}
.navBtn{
    background-color: transparent;
    border: transparent;
    color: white;
    margin-right: 20px;
}
.navBtn:hover{
    color: lightpink;
}
.nav{
    width: 600px;
    display: flex;
    justify-items: flex-start !important;

}
.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start !important;
    font-size: 17px;
    color: white;
    margin-left: 200px;
}
.nav-item{
    width: 150px !important;
    margin-right: 40px;
}
.nav-item:hover{
    color: #ff7891;
}   /*header끝*/
/*login main시작*/
.infoContainer{
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.infoContainer > .infoBox{
    display: flex;
    flex-direction: column;
}

.infoContainer > .infoBox > .infoBoxDiv > .star{
    color: #ff2a2a;
    margin-left: 5px;
    margin-right: 10px;
}
#signUpBtn{
    border: none;
    width: 100px;
    font-size: 17px;
    padding: 10px;
    border-radius: 3px;
    background-color: #ff7891;
    color: white;
    margin-top: 10px;
}
#signUpBtn:hover{
    background-color: lightpink;
}
span{
    font-size: 20px;
}
.userInfoBtnBox{
    display: flex;
    flex-direction: row;
}
.infoContainer > .userInfoBtnBox > button {
    border: none;
    width: 80px;
    font-size: 17px;
    height: 30px;
    background-color: #ff7891;
    color: white;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 20px;
}
.infoContainer > .userInfoBtnBox > button:hover {
    background-color: lightpink;
}
#deleteBtn:hover{
    background-color: #ff0035;
}
/*login main끝*/
/*footer시작*/
.footerContainer > .footerTop {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ababab;
    margin-top: 100px;
}
.footerContainer > .footerTop > img{
    margin-top: -70px;
}
.footerTopText{
    margin-top: 50px;
    margin-left: 20px;
    color: #2c2c2c;
    line-height: 10px;
}
#findUs1 {
    margin-left: 15px;
}
#findUs2{
    margin-left: 8px;
}
#findUs3{
    margin-left: 23px;
    cursor: pointer;
}
.footerContainer > .footerBottom{
    background-color: #2c2c2c;
    height: 44px;
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerContainer > .footerBottom > p{
    color: white;
    text-align: center;
    margin-top: 13px;
}
/*footer종료*/